<h2 align="center">Machine Learning</h2> 
<h3 align="center">Data Import/Export + Pandas</h3>

### Review of Python Tools 

1. Jupyter - "notebooks" for inline code + markup, etc.

2. NumPy - low-level array & matrix handling and algorithms
    * Much is built on NumPy, including Pandas  


3. SciPy - higher level numerical algorithms (still fairly basic)

4. Matplotlib - matlab-style plotting & image display

5. SkLearn - (Scikit-learn) Machine Learning library

6. Pandas - Incredibly useful! Default data data manipulation library for this class

7. Plotly - Outstanding interactive charts

                 Data manipulation

# Python2 vs Python3
We don't have to worry about this much anymore, but there has historically been some discussion about Python2 vs Python3. 

Thankfully, we don't have to worry much about this anymore:

The Python Foundation (finally) depricated, as of Jan 1, 2020, Python2: 
https://www.python.org/doc/sunset-python-2/

Although you can find python2 installed by default with some OSes, the world has moved to python3.

In [1]:
# Useful imports from last week
import numpy as np
import pandas as pd
import matplotlib
import plotly
import sklearn
%matplotlib inline

### Review: Run Environment
Python 3.7+  (Anything recent works well, I'm running 3.9)  
Libaries used so far:
* NumPy
* Pandas
* Jupyter
* Matplotlib - from HW
* Plotly

Use pip (or pip3 or conda) install package_name to get new packages

### Review: Jupyter Notebooks

A single document containing a series of "cells". Each containing code which can be run, or images and other documentation. 

* Run a cell via ``[shift] + [Enter]`` or "play" button in the menu.

<center>
<img src="../images/jupyter_run_bar.png" alt="drawing" style="width: 500px;"/>
</center>

Will execute code or markdown in that cell.  Contents can be either.

* Jupyter notebooks give us a place to view results and run code in single environment
* Excellent for Data Science
* In some ways similar to Matlab's IDE or R's Rstudio -- but better than both. 
* We are using jupyter for python, but it is compatible with many many languages

* Jupyter notebooks are quite useful.  All the homeworks and most of the class content will be jupyter notebooks!


* Data from a database
* Pandas Index
* Pandas merge, concat
* Pandas pivot
* Pandas resample

In [2]:
# Let's get some data from a Database (you'll need this for lab)
# The data is the commonly used UCI Machine Learning Adult Dataset of individuals and incomes
#
# pip install py-postgresql
#

import postgresql

In [3]:
postgresql.version

'1.3.0'

In [6]:
# Establish a connection to the database
# In an enterprise setting, we wouldn't put passwords in code.  Why?

# db = postgresql.open("pq://new_haven_ds_read:new_haven_ds_secret_99@nhds-spring-23.cwroivw0q1rc.us-east-1.rds.amazonaws.com/nhds")
db = postgresql.open("pq://new_haven_ds_read:new_haven_ds_secret_99@nhds-spring-24.cwroivw0q1rc.us-east-1.rds.amazonaws.com/nhds")

In [7]:
# Let's create our SQL.....this is just a string
sql = 'select * from nhds.uci_adults'

# This is a prepared statement
ps = db.prepare(sql)

# Get results back and store in res variable
res = ps()

In [8]:
# What is this res thing?
type(res)

list

In [9]:
res

[(39,
  ' State-gov',
  77516,
  ' Bachelors',
  13,
  ' Never-married',
  ' Adm-clerical',
  ' Not-in-family',
  ' White',
  ' Male',
  2174,
  0,
  40,
  ' United-States',
  ' <=50K',
  1),
 (50,
  ' Self-emp-not-inc',
  83311,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  13,
  ' United-States',
  ' <=50K',
  2),
 (38,
  ' Private',
  215646,
  ' HS-grad',
  9,
  ' Divorced',
  ' Handlers-cleaners',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  3),
 (53,
  ' Private',
  234721,
  ' 11th',
  7,
  ' Married-civ-spouse',
  ' Handlers-cleaners',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  4),
 (28,
  ' Private',
  338409,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Wife',
  ' Black',
  ' Female',
  0,
  0,
  40,
  ' Cuba',
  ' <=50K',
  5),
 (37,
  ' Private',
  284582,
  ' Masters',
  14,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Wife',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  6),
 (49,
  ' Private',
  160187,
  ' 9th',
  5,
  ' Married-spouse-absent',
  ' Other-service',
  ' Not-in-family',
  ' Black',
  ' Female',
  0,
  0,
  16,
  ' Jamaica',
  ' <=50K',
  7),
 (52,
  ' Self-emp-not-inc',
  209642,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  45,
  ' United-States',
  ' >50K',
  8),
 (31,
  ' Private',
  45781,
  ' Masters',
  14,
  ' Never-married',
  ' Prof-specialty',
  ' Not-in-family',
  ' White',
  ' Female',
  14084,
  0,
  50,
  ' United-States',
  ' >50K',
  9),
 (42,
  ' Private',
  159449,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  5178,
  0,
  40,
  ' United-States',
  ' >50K',
  10),
 (37,
  ' Private',
  280464,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  80,
  ' United-States',
  ' >50K',
  11),
 (30,
  ' State-gov',
  141297,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' Asian-Pac-Islander',
  ' Male',
  0,
  0,
  40,
  ' India',
  ' >50K',
  12),
 (23,
  ' Private',
  122272,
  ' Bachelors',
  13,
  ' Never-married',
  ' Adm-clerical',
  ' Own-child',
  ' White',
  ' Female',
  0,
  0,
  30,
  ' United-States',
  ' <=50K',
  13),
 (32,
  ' Private',
  205019,
  ' Assoc-acdm',
  12,
  ' Never-married',
  ' Sales',
  ' Not-in-family',
  ' Black',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  14),
 (40,
  ' Private',
  121772,
  ' Assoc-voc',
  11,
  ' Married-civ-spouse',
  ' Craft-repair',
  ' Husband',
  ' Asian-Pac-Islander',
  ' Male',
  0,
  0,
  40,
  ' ?',
  ' >50K',
  15),
 (34,
  ' Private',
  245487,
  ' 7th-8th',
  4,
  ' Married-civ-spouse',
  ' Transport-moving',
  ' Husband',
  ' Amer-Indian-Eskimo',
  ' Male',
  0,
  0,
  45,
  ' Mexico',
  ' <=50K',
  16),
 (25,
  ' Self-emp-not-inc',
  176756,
  ' HS-grad',
  9,
  ' Never-married',
  ' Farming-fishing',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  35,
  ' United-States',
  ' <=50K',
  17),
 (32,
  ' Private',
  186824,
  ' HS-grad',
  9,
  ' Never-married',
  ' Machine-op-inspct',
  ' Unmarried',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  18),
 (38,
  ' Private',
  28887,
  ' 11th',
  7,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  19),
 (43,
  ' Self-emp-not-inc',
  292175,
  ' Masters',
  14,
  ' Divorced',
  ' Exec-managerial',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  45,
  ' United-States',
  ' >50K',
  20),
 (40,
  ' Private',
  193524,
  ' Doctorate',
  16,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  60,
  ' United-States',
  ' >50K',
  21),
 (54,
  ' Private',
  302146,
  ' HS-grad',
  9,
  ' Separated',
  ' Other-service',
  ' Unmarried',
  ' Black',
  ' Female',
  0,
  0,
  20,
  ' United-States',
  ' <=50K',
  22),
 (35,
  ' Federal-gov',
  76845,
  ' 9th',
  5,
  ' Married-civ-spouse',
  ' Farming-fishing',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  23),
 (43,
  ' Private',
  117037,
  ' 11th',
  7,
  ' Married-civ-spouse',
  ' Transport-moving',
  ' Husband',
  ' White',
  ' Male',
  0,
  2042,
  40,
  ' United-States',
  ' <=50K',
  24),
 (59,
  ' Private',
  109015,
  ' HS-grad',
  9,
  ' Divorced',
  ' Tech-support',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  25),
 (56,
  ' Local-gov',
  216851,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Tech-support',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  26),
 (19,
  ' Private',
  168294,
  ' HS-grad',
  9,
  ' Never-married',
  ' Craft-repair',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  27),
 (54,
  ' ?',
  180211,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' ?',
  ' Husband',
  ' Asian-Pac-Islander',
  ' Male',
  0,
  0,
  60,
  ' South',
  ' >50K',
  28),
 (39,
  ' Private',
  367260,
  ' HS-grad',
  9,
  ' Divorced',
  ' Exec-managerial',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  80,
  ' United-States',
  ' <=50K',
  29),
 (49,
  ' Private',
  193366,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Craft-repair',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  30),
 (23,
  ' Local-gov',
  190709,
  ' Assoc-acdm',
  12,
  ' Never-married',
  ' Protective-serv',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  52,
  ' United-States',
  ' <=50K',
  31),
 (20,
  ' Private',
  266015,
  ' Some-college',
  10,
  ' Never-married',
  ' Sales',
  ' Own-child',
  ' Black',
  ' Male',
  0,
  0,
  44,
  ' United-States',
  ' <=50K',
  32),
 (45,
  ' Private',
  386940,
  ' Bachelors',
  13,
  ' Divorced',
  ' Exec-managerial',
  ' Own-child',
  ' White',
  ' Male',
  0,
  1408,
  40,
  ' United-States',
  ' <=50K',
  33),
 (30,
  ' Federal-gov',
  59951,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Adm-clerical',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  34),
 (22,
  ' State-gov',
  311512,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Other-service',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  15,
  ' United-States',
  ' <=50K',
  35),
 (48,
  ' Private',
  242406,
  ' 11th',
  7,
  ' Never-married',
  ' Machine-op-inspct',
  ' Unmarried',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' Puerto-Rico',
  ' <=50K',
  36),
 (21,
  ' Private',
  197200,
  ' Some-college',
  10,
  ' Never-married',
  ' Machine-op-inspct',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  37),
 (19,
  ' Private',
  544091,
  ' HS-grad',
  9,
  ' Married-AF-spouse',
  ' Adm-clerical',
  ' Wife',
  ' White',
  ' Female',
  0,
  0,
  25,
  ' United-States',
  ' <=50K',
  38),
 (31,
  ' Private',
  84154,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  38,
  ' ?',
  ' >50K',
  39),
 (48,
  ' Self-emp-not-inc',
  265477,
  ' Assoc-acdm',
  12,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  40),
 (31,
  ' Private',
  507875,
  ' 9th',
  5,
  ' Married-civ-spouse',
  ' Machine-op-inspct',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  43,
  ' United-States',
  ' <=50K',
  41),
 (53,
  ' Self-emp-not-inc',
  88506,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  42),
 (24,
  ' Private',
  172987,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Tech-support',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  43),
 (49,
  ' Private',
  94638,
  ' HS-grad',
  9,
  ' Separated',
  ' Adm-clerical',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  44),
 (25,
  ' Private',
  289980,
  ' HS-grad',
  9,
  ' Never-married',
  ' Handlers-cleaners',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  35,
  ' United-States',
  ' <=50K',
  45),
 (57,
  ' Federal-gov',
  337895,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  46),
 (53,
  ' Private',
  144361,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Machine-op-inspct',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  38,
  ' United-States',
  ' <=50K',
  47),
 (44,
  ' Private',
  128354,
  ' Masters',
  14,
  ' Divorced',
  ' Exec-managerial',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  48),
 (41,
  ' State-gov',
  101603,
  ' Assoc-voc',
  11,
  ' Married-civ-spouse',
  ' Craft-repair',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  49),
 (29,
  ' Private',
  271466,
  ' Assoc-voc',
  11,
  ' Never-married',
  ' Prof-specialty',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  43,
  ' United-States',
  ' <=50K',
  50),
 (25,
  ' Private',
  32275,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Wife',
  ' Other',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  51),
 (18,
  ' Private',
  226956,
  ' HS-grad',
  9,
  ' Never-married',
  ' Other-service',
  ' Own-child',
  ' White',
  ' Female',
  0,
  0,
  30,
  ' ?',
  ' <=50K',
  52),
 (47,
  ' Private',
  51835,
  ' Prof-school',
  15,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Wife',
  ' White',
  ' Female',
  0,
  1902,
  60,
  ' Honduras',
  ' >50K',
  53),
 (50,
  ' Federal-gov',
  251585,
  ' Bachelors',
  13,
  ' Divorced',
  ' Exec-managerial',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  55,
  ' United-States',
  ' >50K',
  54),
 (47,
  ' Self-emp-inc',
  109832,
  ' HS-grad',
  9,
  ' Divorced',
  ' Exec-managerial',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  60,
  ' United-States',
  ' <=50K',
  55),
 (43,
  ' Private',
  237993,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Tech-support',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  56),
 (46,
  ' Private',
  216666,
  ' 5th-6th',
  3,
  ' Married-civ-spouse',
  ' Machine-op-inspct',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' Mexico',
  ' <=50K',
  57),
 (35,
  ' Private',
  56352,
  ' Assoc-voc',
  11,
  ' Married-civ-spouse',
  ' Other-service',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' Puerto-Rico',
  ' <=50K',
  58),
 (41,
  ' Private',
  147372,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Adm-clerical',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  48,
  ' United-States',
  ' <=50K',
  59),
 (30,
  ' Private',
  188146,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Machine-op-inspct',
  ' Husband',
  ' White',
  ' Male',
  5013,
  0,
  40,
  ' United-States',
  ' <=50K',
  60),
 (30,
  ' Private',
  59496,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  2407,
  0,
  40,
  ' United-States',
  ' <=50K',
  61),
 (32,
  ' ?',
  293936,
  ' 7th-8th',
  4,
  ' Married-spouse-absent',
  ' ?',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' ?',
  ' <=50K',
  62),
 (48,
  ' Private',
  149640,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Transport-moving',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  63),
 (42,
  ' Private',
  116632,
  ' Doctorate',
  16,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  45,
  ' United-States',
  ' >50K',
  64),
 (29,
  ' Private',
  105598,
  ' Some-college',
  10,
  ' Divorced',
  ' Tech-support',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  58,
  ' United-States',
  ' <=50K',
  65),
 (36,
  ' Private',
  155537,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Craft-repair',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  66),
 (28,
  ' Private',
  183175,
  ' Some-college',
  10,
  ' Divorced',
  ' Adm-clerical',
  ' Not-in-family',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  67),
 (53,
  ' Private',
  169846,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Adm-clerical',
  ' Wife',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  68),
 (49,
  ' Self-emp-inc',
  191681,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' >50K',
  69),
 (25,
  ' ?',
  200681,
  ' Some-college',
  10,
  ' Never-married',
  ' ?',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  70),
 (19,
  ' Private',
  101509,
  ' Some-college',
  10,
  ' Never-married',
  ' Prof-specialty',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  32,
  ' United-States',
  ' <=50K',
  71),
 (31,
  ' Private',
  309974,
  ' Bachelors',
  13,
  ' Separated',
  ' Sales',
  ' Own-child',
  ' Black',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  72),
 (29,
  ' Self-emp-not-inc',
  162298,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  70,
  ' United-States',
  ' >50K',
  73),
 (23,
  ' Private',
  211678,
  ' Some-college',
  10,
  ' Never-married',
  ' Machine-op-inspct',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  74),
 (79,
  ' Private',
  124744,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Other-relative',
  ' White',
  ' Male',
  0,
  0,
  20,
  ' United-States',
  ' <=50K',
  75),
 (27,
  ' Private',
  213921,
  ' HS-grad',
  9,
  ' Never-married',
  ' Other-service',
  ' Own-child',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' Mexico',
  ' <=50K',
  76),
 (40,
  ' Private',
  32214,
  ' Assoc-acdm',
  12,
  ' Married-civ-spouse',
  ' Adm-clerical',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  77),
 (67,
  ' ?',
  212759,
  ' 10th',
  6,
  ' Married-civ-spouse',
  ' ?',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  2,
  ' United-States',
  ' <=50K',
  78),
 (18,
  ' Private',
  309634,
  ' 11th',
  7,
  ' Never-married',
  ' Other-service',
  ' Own-child',
  ' White',
  ' Female',
  0,
  0,
  22,
  ' United-States',
  ' <=50K',
  79),
 (31,
  ' Local-gov',
  125927,
  ' 7th-8th',
  4,
  ' Married-civ-spouse',
  ' Farming-fishing',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  80),
 (18,
  ' Private',
  446839,
  ' HS-grad',
  9,
  ' Never-married',
  ' Sales',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  30,
  ' United-States',
  ' <=50K',
  81),
 (52,
  ' Private',
  276515,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Other-service',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' Cuba',
  ' <=50K',
  82),
 (46,
  ' Private',
  51618,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Other-service',
  ' Wife',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  83),
 (59,
  ' Private',
  159937,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  48,
  ' United-States',
  ' <=50K',
  84),
 (44,
  ' Private',
  343591,
  ' HS-grad',
  9,
  ' Divorced',
  ' Craft-repair',
  ' Not-in-family',
  ' White',
  ' Female',
  14344,
  0,
  40,
  ' United-States',
  ' >50K',
  85),
 (53,
  ' Private',
  346253,
  ' HS-grad',
  9,
  ' Divorced',
  ' Sales',
  ' Own-child',
  ' White',
  ' Female',
  0,
  0,
  35,
  ' United-States',
  ' <=50K',
  86),
 (49,
  ' Local-gov',
  268234,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Protective-serv',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  87),
 (33,
  ' Private',
  202051,
  ' Masters',
  14,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  88),
 (30,
  ' Private',
  54334,
  ' 9th',
  5,
  ' Never-married',
  ' Sales',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  89),
 (43,
  ' Federal-gov',
  410867,
  ' Doctorate',
  16,
  ' Never-married',
  ' Prof-specialty',
  ' Not-in-family',
  ' White',
  ' Female',
  0,
  0,
  50,
  ' United-States',
  ' >50K',
  90),
 (57,
  ' Private',
  249977,
  ' Assoc-voc',
  11,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  91),
 (37,
  ' Private',
  286730,
  ' Some-college',
  10,
  ' Divorced',
  ' Craft-repair',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  92),
 (28,
  ' Private',
  212563,
  ' Some-college',
  10,
  ' Divorced',
  ' Machine-op-inspct',
  ' Unmarried',
  ' Black',
  ' Female',
  0,
  0,
  25,
  ' United-States',
  ' <=50K',
  93),
 (30,
  ' Private',
  117747,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Sales',
  ' Wife',
  ' Asian-Pac-Islander',
  ' Female',
  0,
  1573,
  35,
  ' ?',
  ' <=50K',
  94),
 (34,
  ' Local-gov',
  226296,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Protective-serv',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  95),
 (29,
  ' Local-gov',
  115585,
  ' Some-college',
  10,
  ' Never-married',
  ' Handlers-cleaners',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  96),
 (48,
  ' Self-emp-not-inc',
  191277,
  ' Doctorate',
  16,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Husband',
  ' White',
  ' Male',
  0,
  1902,
  60,
  ' United-States',
  ' >50K',
  97),
 (37,
  ' Private',
  202683,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Sales',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  48,
  ' United-States',
  ' >50K',
  98),
 (48,
  ' Private',
  171095,
  ' Assoc-acdm',
  12,
  ' Divorced',
  ' Exec-managerial',
  ' Unmarried',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' England',
  ' <=50K',
  99),
 (32,
  ' Federal-gov',
  249409,
  ' HS-grad',
  9,
  ' Never-married',
  ' Other-service',
  ' Own-child',
  ' Black',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  100),
 (76,
  ' Private',
  124191,
  ' Masters',
  14,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' >50K',
  101),
 (44,
  ' Private',
  198282,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  15024,
  0,
  60,
  ' United-States',
  ' >50K',
  102),
 (47,
  ' Self-emp-not-inc',
  149116,
  ' Masters',
  14,
  ' Never-married',
  ' Prof-specialty',
  ' Not-in-family',
  ' White',
  ' Female',
  0,
  0,
  50,
  ' United-States',
  ' <=50K',
  103),
 (20,
  ' Private',
  188300,
  ' Some-college',
  10,
  ' Never-married',
  ' Tech-support',
  ' Own-child',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  104),
 (29,
  ' Private',
  103432,
  ' HS-grad',
  9,
  ' Never-married',
  ' Craft-repair',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K',
  105),
 (32,
  ' Self-emp-inc',
  317660,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Craft-repair',
  ' Husband',
  ' White',
  ' Male',
  7688,
  0,
  40,
  ' United-States',
  ' >50K',
  106),
 (17,
  ' ?',
  304873,
  ' 10th',
  6,
  ' Never-married',
  ' ?',
  ' Own-child',
  ' White',
  ' Female',
  34095,
  0,
  32,
  ' United-States',
  ' <=50K',
  107),
 (30,

In [10]:
# We have real data, with real lengtgh
len(res)

32561

In [11]:
type(res)

list

In [12]:
import pandas as pd

In [13]:
# pd.DataFrame(res)

In [14]:
# Let's make it a DataFrame
df = pd.DataFrame(res, columns=ps.column_names)

In [15]:
df.tail()

,age,workclass,fnlwgt,education,educational_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income,id
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,32557
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,32558
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,32559
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,32560
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,32561

In [16]:
df['educational_num'].mean()

10.0806793403151

In [17]:
df['educational_num'].median()

10.0

In [18]:
# What's it look like now?
df.tail(5)

,age,workclass,fnlwgt,education,educational_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income,id
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,32557
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,32558
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,32559
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,32560
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,32561

In [19]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational_num     int64
marital_status     object
occupation         object
relationship       object
race               object
gender             object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
income             object
id                  int64
dtype: object

In [20]:
df['age'].std()

13.640432553581341

In [21]:
df['fnlwgt'].mean()

189778.36651208502

In [22]:
df['fnlwgt'].max()

1484705

In [23]:
df['fnlwgt'].mean()

189778.36651208502

In [24]:
df['fnlwgt'].median()

178356.0

In [25]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [26]:
df['occupation']

0              Adm-clerical
1           Exec-managerial
2         Handlers-cleaners
3         Handlers-cleaners
4            Prof-specialty
                ...
32556          Tech-support
32557     Machine-op-inspct
32558          Adm-clerical
32559          Adm-clerical
32560       Exec-managerial
Name: occupation, Length: 32561, dtype: object

In [27]:
# All dataframes have an index
# We can think of the index as the address list of the rows
df.index

RangeIndex(start=0, stop=32561, step=1)

In [28]:
# What are the contents of the index ?
df.index.values

array([    0,     1,     2, ..., 32558, 32559, 32560], dtype=int64)

In [65]:
# Next, let's take a look at some crypto currency data
# Our friend, Kaggle has some useful data
# https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory/downloads/cryptocurrencypricehistory.zip/13


# Let's build three DataFrames:
btc_df = pd.read_csv('C:\\Users\\Travis Millburn\\OneDrive - University of New Haven\\Class Materials\\Spring 2024\\Week 2\\cryptocurrencypricehistory\\bitcoin_price.csv')
bitcoin_cash_df = pd.read_csv('C:\\Users\\Travis Millburn\\OneDrive - University of New Haven\\Class Materials\\Spring 2024\\Week 2\\cryptocurrencypricehistory\\bitcoin_cash_price.csv')
eth_df = pd.read_csv('C:\\Users\\Travis Millburn\\OneDrive - University of New Haven\\Class Materials\\Spring 2024\\Week 2\\cryptocurrencypricehistory\\ethereum_price.csv')

In [66]:
btc_df.tail()

              Date    Open    High     Low   Close Volume     Market Cap
1755  May 02, 2013  116.38  125.60   92.28  105.21      -  1,292,190,000
1756  May 01, 2013  139.00  139.89  107.72  116.99      -  1,542,820,000
1757  Apr 30, 2013  144.00  146.93  134.05  139.00      -  1,597,780,000
1758  Apr 29, 2013  134.44  147.49  134.00  144.54      -  1,491,160,000
1759  Apr 28, 2013  135.30  135.98  132.10  134.21      -  1,500,520,000

In [31]:
# What if we just want close price?
btc_df['Close'].tail()

1755    105.21
1756    116.99
1757    139.00
1758    144.54
1759    134.21
Name: Close, dtype: float64

In [32]:
# btc_df[['Close', 'Open']]

In [33]:
# The Date being an object type doesn't do us much good
btc_df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [34]:
# Let's overwrite current date field with the date as a datetime object
btc_df['Date'] = pd.to_datetime(btc_df['Date'])

In [35]:
# Now what do the types look like ?  Better!
btc_df.dtypes

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                object
Market Cap            object
dtype: object

In [36]:
btc_df[btc_df['Date'] > '1/1/2017']

,Date,Open,High,Low,Close,Volume,Market Cap
0,2018-02-20,11231.80,11958.50,11231.80,11403.70,"9,926,540,000","189,536,000,000"
1,2018-02-19,10552.60,11273.80,10513.20,11225.30,"7,652,090,000","178,055,000,000"
2,2018-02-18,11123.40,11349.80,10326.00,10551.80,"8,744,010,000","187,663,000,000"
3,2018-02-17,10207.50,11139.50,10149.40,11112.70,"8,660,880,000","172,191,000,000"
4,2018-02-16,10135.70,10324.10,9824.82,10233.90,"7,296,160,000","170,960,000,000"
...,...,...,...,...,...,...,...
410,2017-01-06,1014.24,1046.81,883.94,902.20,"351,876,000","16,314,100,000"
411,2017-01-05,1156.73,1191.10,910.42,1013.38,"510,199,000","18,604,000,000"
412,2017-01-04,1044.40,1159.42,1044.40,1154.73,"344,946,000","16,795,400,000"
413,2017-01-03,1021.60,1044.08,1021.60,1043.84,"185,168,000","16,426,600,000"
414,2017-01-02,998.62,1031.39,996.70,1021.75,"222,185,000","16,055,100,000"

In [37]:
btc_df['Date'].max()

Timestamp('2018-02-20 00:00:00')

In [38]:
btc_df.tail()

           Date    Open    High     Low   Close Volume     Market Cap
1755 2013-05-02  116.38  125.60   92.28  105.21      -  1,292,190,000
1756 2013-05-01  139.00  139.89  107.72  116.99      -  1,542,820,000
1757 2013-04-30  144.00  146.93  134.05  139.00      -  1,597,780,000
1758 2013-04-29  134.44  147.49  134.00  144.54      -  1,491,160,000
1759 2013-04-28  135.30  135.98  132.10  134.21      -  1,500,520,000

In [39]:
# It would be better if the date was the index!
btc_df = btc_df.set_index('Date')
btc_df.tail()

              Open    High     Low   Close Volume     Market Cap
Date
2013-05-02  116.38  125.60   92.28  105.21      -  1,292,190,000
2013-05-01  139.00  139.89  107.72  116.99      -  1,542,820,000
2013-04-30  144.00  146.93  134.05  139.00      -  1,597,780,000
2013-04-29  134.44  147.49  134.00  144.54      -  1,491,160,000
2013-04-28  135.30  135.98  132.10  134.21      -  1,500,520,000

In [40]:
# Now that we have the date as a datetime 
# AND
# We have made the date the index
# We can do useful things!

# Mean price by month
btc_df['Close'].resample('m').mean().tail()

Date
2017-10-31     5360.071613
2017-11-30     7813.133000
2017-12-31    15294.270968
2018-01-31    13085.558065
2018-02-28     9162.576500
Freq: M, Name: Close, dtype: float64

In [41]:
# btc_df['Close'].resample('m').median()

In [42]:
# Std Dev by week
btc_df['Close'].resample('W').std().tail()

Date
2018-01-28     313.236358
2018-02-04    1018.569457
2018-02-11     620.710273
2018-02-18     901.626709
2018-02-25     126.147850
Freq: W-SUN, Name: Close, dtype: float64

In [43]:
btc_df.dtypes

Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [44]:
# Okay, let's go back our three crypto dataframes
#Bitcoin
btc_df.tail()

              Open    High     Low   Close Volume     Market Cap
Date
2013-05-02  116.38  125.60   92.28  105.21      -  1,292,190,000
2013-05-01  139.00  139.89  107.72  116.99      -  1,542,820,000
2013-04-30  144.00  146.93  134.05  139.00      -  1,597,780,000
2013-04-29  134.44  147.49  134.00  144.54      -  1,491,160,000
2013-04-28  135.30  135.98  132.10  134.21      -  1,500,520,000

In [45]:
#Bitcoin Cash
bitcoin_cash_df.tail()

             Date    Open    High     Low   Close     Volume Market Cap
208  Jul 27, 2017  417.10  460.97  367.78  385.48    533,207          -
209  Jul 26, 2017  407.08  486.16  321.79  365.82  1,784,640          -
210  Jul 25, 2017  441.35  541.66  338.09  406.90    524,908          -
211  Jul 24, 2017  412.58  578.89  409.21  440.70    190,952          -
212  Jul 23, 2017  555.89  578.97  411.78  413.06     85,013          -

In [46]:
# Ethereum
eth_df.tail()

,Date,Open,High,Low,Close,Volume,Market Cap
924,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500"
925,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000"
926,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600"
927,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000"
928,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-

In [47]:
# Let's set the Date column to datetime and set to index for BCH and ETh
bitcoin_cash_df['Date'] = pd.to_datetime(bitcoin_cash_df['Date'])
bitcoin_cash_df.set_index('Date', inplace=True)
bitcoin_cash_df.tail()

              Open    High     Low   Close     Volume Market Cap
Date
2017-07-27  417.10  460.97  367.78  385.48    533,207          -
2017-07-26  407.08  486.16  321.79  365.82  1,784,640          -
2017-07-25  441.35  541.66  338.09  406.90    524,908          -
2017-07-24  412.58  578.89  409.21  440.70    190,952          -
2017-07-23  555.89  578.97  411.78  413.06     85,013          -

In [48]:
# Now ETH
eth_df['Date'] = pd.to_datetime(eth_df['Date'])
eth_df.set_index('Date', inplace=True)
eth_df.tail()

                Open      High       Low     Close     Volume   Market Cap
Date
2015-08-11  0.708087  1.130000  0.663235  1.070000  1,463,100   42,796,500
2015-08-10  0.713989  0.729854  0.636546  0.708448    405,283   43,130,000
2015-08-09  0.706136  0.879810  0.629191  0.701897    532,170   42,637,600
2015-08-08  2.790000  2.800000  0.714725  0.753325    674,188  167,911,000
2015-08-07  2.830000  3.540000  2.520000  2.770000    164,329            -

In [49]:
# What do we have now?
#Bitcoin
btc_df.tail()

              Open    High     Low   Close Volume     Market Cap
Date
2013-05-02  116.38  125.60   92.28  105.21      -  1,292,190,000
2013-05-01  139.00  139.89  107.72  116.99      -  1,542,820,000
2013-04-30  144.00  146.93  134.05  139.00      -  1,597,780,000
2013-04-29  134.44  147.49  134.00  144.54      -  1,491,160,000
2013-04-28  135.30  135.98  132.10  134.21      -  1,500,520,000

In [50]:
#Bitcoin Cash
bitcoin_cash_df.tail()

              Open    High     Low   Close     Volume Market Cap
Date
2017-07-27  417.10  460.97  367.78  385.48    533,207          -
2017-07-26  407.08  486.16  321.79  365.82  1,784,640          -
2017-07-25  441.35  541.66  338.09  406.90    524,908          -
2017-07-24  412.58  578.89  409.21  440.70    190,952          -
2017-07-23  555.89  578.97  411.78  413.06     85,013          -

In [51]:
# Eth
eth_df.tail()

                Open      High       Low     Close     Volume   Market Cap
Date
2015-08-11  0.708087  1.130000  0.663235  1.070000  1,463,100   42,796,500
2015-08-10  0.713989  0.729854  0.636546  0.708448    405,283   43,130,000
2015-08-09  0.706136  0.879810  0.629191  0.701897    532,170   42,637,600
2015-08-08  2.790000  2.800000  0.714725  0.753325    674,188  167,911,000
2015-08-07  2.830000  3.540000  2.520000  2.770000    164,329            -

In [52]:
# Excellent, let's create a single DataFrame with the closing prices for all three
# We can use a MERGE
prices_df = btc_df[['Close']].merge(bitcoin_cash_df[['Close']], left_index=True, right_index=True)
prices_df.tail()

            Close_x  Close_y
Date
2017-07-27  2671.78   385.48
2017-07-26  2529.45   365.82
2017-07-25  2576.48   406.90
2017-07-24  2754.86   440.70
2017-07-23  2730.40   413.06

In [53]:
# This is what we want, but column names are ugly -- let's fix
prices_df = btc_df[['Close']].merge(bitcoin_cash_df[['Close']], left_index=True, right_index=True, suffixes=('_btc', '_bch'))
prices_df.tail()

            Close_btc  Close_bch
Date
2017-07-27    2671.78     385.48
2017-07-26    2529.45     365.82
2017-07-25    2576.48     406.90
2017-07-24    2754.86     440.70
2017-07-23    2730.40     413.06

In [54]:
# Now, let's add that third DF, ETH
prices_df = prices_df.merge(eth_df['Close'], left_index=True, right_index=True)
prices_df.tail()

            Close_btc  Close_bch   Close
Date
2017-07-27    2671.78     385.48  204.32
2017-07-26    2529.45     365.82  203.95
2017-07-25    2576.48     406.90  206.71
2017-07-24    2754.86     440.70  224.71
2017-07-23    2730.40     413.06  225.95

In [55]:
# Let's fix that Close column
prices_df = prices_df.rename(columns={'Close':'Close_eth'})
prices_df.tail()

            Close_btc  Close_bch  Close_eth
Date
2017-07-27    2671.78     385.48     204.32
2017-07-26    2529.45     365.82     203.95
2017-07-25    2576.48     406.90     206.71
2017-07-24    2754.86     440.70     224.71
2017-07-23    2730.40     413.06     225.95

In [56]:
prices_df['daily_avg'] = prices_df.mean(axis=1)

In [57]:
prices_df.tail()

            Close_btc  Close_bch  Close_eth    daily_avg
Date
2017-07-27    2671.78     385.48     204.32  1087.193333
2017-07-26    2529.45     365.82     203.95  1033.073333
2017-07-25    2576.48     406.90     206.71  1063.363333
2017-07-24    2754.86     440.70     224.71  1140.090000
2017-07-23    2730.40     413.06     225.95  1123.136667

### That's a MERGE!

### Let's talk about performance....

##### Loops are bad.

#### Vectorization

#### Cython

In [58]:
# Performance

#loops < apply < vectorized_built_in_function

In [59]:
def raise_power(input_val):
    return input_val ** 3

In [60]:
raise_power(10)

1000

In [61]:
# Cell Magig

# % --> works on one line 

# %% --> works on entire nb cell

In [62]:
%%timeit
prices_df['Close_btc'] ** 3

50.3 s  1.6 s per loop (mean  std. dev. of 7 runs, 10,000 loops each)

In [63]:
%%timeit
prices_df['Close_btc'].apply(raise_power)

100 s  1.36 s per loop (mean  std. dev. of 7 runs, 10,000 loops each)

In [64]:
%%timeit
for row in prices_df.iterrows():
    row[1][0] ** 3

<magic-timeit>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

8.03 ms  157 s per loop (mean  std. dev. of 7 runs, 100 loops each)