In [26]:
# pip install py-postgresql
import postgresql
import pandas
import pickle

In [46]:
# Establish a connection to the database
# In an enterprise setting, we wouldn't put passwords in code.  Why?

db = postgresql.open("pq://new_haven_ds_read:new_haven_ds_secret_99@nhds-spring-24.cwroivw0q1rc.us-east-1.rds.amazonaws.com/nhds")

In [28]:
# Let's create our SQL.....this is just a string
sql = 'select * from nhds.uci_adults'

# This is a prepared statement
ps = db.prepare(sql)

# Get results back and store in res variable
res = ps()

In [29]:
df = pandas.DataFrame(res, columns=ps.column_names)
df.tail()

,age,workclass,fnlwgt,education,educational_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income,id
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,32557
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,32558
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,32559
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,32560
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,32561

In [30]:
len(df)

32561

In [31]:
df.to_pickle('df.pkl')

In [32]:
del(df)

In [33]:
# Let's prove that we have gotten rid of df: not defined
df

NameError: name 'df' is not defined

In [38]:
df = pandas.read_pickle('df.pkl')

In [39]:
df.tail()

,age,workclass,fnlwgt,education,educational_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income,id
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,32557
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,32558
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,32559
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,32560
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,32561

In [40]:
df.groupby('occupation')['fnlwgt'].mean()

occupation
 ?                    188658.667390
 Adm-clerical         192043.396286
 Armed-Forces         215425.888889
 Craft-repair         192132.599658
 Exec-managerial      184414.012543
 Farming-fishing      170190.176056
 Handlers-cleaners    204391.006569
 Machine-op-inspct    195040.877622
 Other-service        188608.452200
 Priv-house-serv      201107.523490
 Prof-specialty       185296.613285
 Protective-serv      202039.953775
 Sales                190885.892055
 Tech-support         192098.301724
 Transport-moving     190366.355041
Name: fnlwgt, dtype: float64

In [41]:
df['fnlwgt'].describe()

count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

In [43]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational_num',
       'marital_status', 'occupation', 'relationship', 'race', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income', 'id'],
      dtype='object')

In [45]:
df.groupby('occupation')['income'].count()

occupation
 ?                    1843
 Adm-clerical         3770
 Armed-Forces            9
 Craft-repair         4099
 Exec-managerial      4066
 Farming-fishing       994
 Handlers-cleaners    1370
 Machine-op-inspct    2002
 Other-service        3295
 Priv-house-serv       149
 Prof-specialty       4140
 Protective-serv       649
 Sales                3650
 Tech-support          928
 Transport-moving     1597
Name: income, dtype: int64