### Lets go to the Titanic Dataset
### https://www.kaggle.com/c/titanic/data

### Building a K-NN model to predict survival

### 1. Downloading the data and building a pandas DataFrame

In [3]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [4]:
train= pd.read_csv("train.csv")
#test= pd.read_csv("test.csv")
#gender_submission= pd.read_csv("gender_submission.csv")

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# test.head()

In [7]:
train = train.dropna()

In [9]:

X=train.drop(columns=['Survived']) 
Y=train[['Survived']]

In [10]:
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,49,0,38.0,1,0,109,71.2833,72,0
3,4,1,70,0,35.0,1,0,31,53.1000,48,2
6,7,1,112,1,54.0,0,0,55,51.8625,117,2
10,11,3,148,0,4.0,1,1,120,16.7000,131,2
11,12,1,27,0,58.0,0,0,26,26.5500,43,2

In [11]:
Y.head()

    Survived
1          1
3          1
6          0
10         1
11         1

### 2. splitting  the data into testing and training and testing sets

In [12]:
train.shape

(183, 12)

In [14]:
# test.shape

In [16]:
 x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=555)

#X_train,Y_train,X_test,Y_test=train_test_split(X, Y)

In [17]:
 kmodel=KNeighborsClassifier(n_neighbors=1)

In [19]:
kmodel.fit(x_train, y_train)

C:\Users\sirih\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [21]:
kmodel.predict(x_test)

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0], dtype=int64)

In [22]:
print('Accuracy: {:.2f}'.format(kmodel.score(x_test, y_test)))

Accuracy: 0.65

### 3. Changing the data types of columns, as it is necessary

In [ ]:
for column in train.columns:
    if train[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        train[column] = le.fit_transform(train[column])

### 4. Building a KNN models with different numbers of neighbors.  What is the best accuracy we can get (on testing set) ? Let's see

In [28]:
kmodel=KNeighborsClassifier(n_neighbors=5)

In [29]:
kmodel.fit(x_train, y_train)

C:\Users\sirih\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [30]:
kmodel.predict(x_test)

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0], dtype=int64)

In [31]:
print('Accuracy: {:.2f}'.format(kmodel.score(x_test, y_test)))

Accuracy: 0.72

In [41]:
kmodel=KNeighborsClassifier(n_neighbors=7)
kmodel.fit(x_train, y_train)
kmodel.predict(x_test)
print('Accuracy: {:.2f}'.format(kmodel.score(x_test, y_test)))

Accuracy: 0.74

C:\Users\sirih\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

### 5. Let's check What accuracy would we get if you accidentally tested your accuracy on the TRAINING set ?

In [39]:
kmodel=KNeighborsClassifier(n_neighbors=3)
kmodel.fit(x_train, y_train)
kmodel.predict(x_train)
print('Accuracy: {:.2f}'.format(kmodel.score(x_test, y_test)))

Accuracy: 0.70

C:\Users\sirih\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)